<div class="row">
    <div class="col-md-12">
        <h2 style="display: inline;">Posts</h2>
        <a style="float: right;" href="/posts/add" class="btn btn-success pull-right">Add Post</a>
        <hr />
        <table class="table table-responsive">
            <tr>
                <th>Post ID</th>
                <th>Title</th>
                <th>Post Date</th>
                <th>Category</th>
                <th>Published</th>
                <th></th>
            </tr>
            {{#each posts}}
                <tr>
                        <td>{{id}}</td>
                        <td>{{title}}</td>
                        <td>{{#formatDate postDate}}{{/formatDate}}</td>
                        <td> <a href="/posts?category={{category}}">{{category}}</a></td>
                        <td>{{published}}</td>
                        <td><a href="posts/delete/{{id}}" class="btn btn-danger">Remove</a></td>
                    </tr>
            {{/each}}
            
        </table>
        
        {{#unless posts}}
            <div class="col-md-12 text-center">
                <strong>{{message}}</strong>
            </div>
        {{/unless}}
    </div>
</div>